[submodule "ansible/roles/pyslackers.common"]
	path = ansible/roles/pyslackers.common
	url = https://github.com/pyslackers/ansible-role-common.git
	branch = master
[submodule "ansible/roles/pyslackers.nginx"]
	path = ansible/roles/pyslackers.nginx
	url = https://github.com/pyslackers/ansible-role-nginx.git
	branch = master
[submodule "ansible/roles/pyslackers.python"]
	path = ansible/roles/pyslackers.python
	url = https://github.com/pyslackers/ansible-role-python.git
	branch = master
[submodule "ansible/roles/pyslackers.letsencrypt"]
	path = ansible/roles/pyslackers.letsencrypt
	url = https://github.com/pyslackers/ansible-role-letsencrypt.git
	branch = master
[submodule "ansible/roles/pyslackers.provider"]
	path = ansible/roles/pyslackers.provider
	url = https://github.com/pyslackers/ansible-role-provider.git
	branch = master
[submodule "ansible/roles/pyslackers.docker"]
	path = ansible/roles/pyslackers.docker
	url = https://github.com/pyslackers/ansible-role-docker.git
	branch = master
