[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

aiohttp = "*"
aiohttp-xmlrpc = "*"
distance = "*"
gidgethub = "*"
raven = "*"
slack-sansio = "*"
asyncpg = "*"
sirbot = "*"
pyyaml = "*"
cython = "*"
cchardet = "*"
platformshconfig = "*"


[dev-packages]

flake8 = "*"
isort = "*"
black = "==19.10b0"
pytest = "*"


[requires]

python_version = "3.7"


[scripts]

up = "/bin/sh scripts/dev_up.sh"
down = "/bin/sh scripts/dev_down.sh"
tests = "/bin/sh scripts/run_tests.sh"
