aiodns==1.1.1
aiohttp==3.0.5
aiohttp-xmlrpc==0.7.3
cchardet==2.1.1
distance==0.1.3
gidgethub==2.4.1
PyYAML==3.12
raven==6.6.0
slack-sansio==0.3.5
asyncpg==0.15.0
-e git+https://github.com/pyslackers/sir-bot-a-lot-2.git@d1a6358bd42f63fcb381ab5a952ccc09d1b57783#egg=sirbot==0.0.0-dev
