aiodns==1.1.1
aiohttp==3.0.5
aiohttp-xmlrpc==0.7.3
cchardet==2.1.1
distance==0.1.3
gidgethub==2.4.1
PyYAML==3.12
raven==6.6.0
slack-sansio==0.3.5
asyncpg==0.15.0
-e git+https://github.com/pyslackers/sir-bot-a-lot-2.git@1939ca986b545e62e57e7449c763e87a8f1e4797#egg=sirbot==0.0.0-dev
